html {
  box-sizing: border-box;
}
body{
	min-height: 100%;
}
footer{
	background-color: #212121;
	color: #f4f4f4;
	width: 100%;
	position: relative;
	right: 0;
	left: 0;
	text-align: center;
}
.container{
	min-height:calc(100vh - 128px)
}